.Liste-titre
{
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--padding);
  display: flex;
}
.ListeDesUtilisateurs
{
  width: 100%;
}
.photo
{
  display: flex;
  align-items: center;
  width: 30px;
}
.Liste
{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--padding);
}
.liste-selected
{
  background-color: #3de169;
}
.liste-selected div p, .liste-selected div
{
  color: var(--couleur-menu-titre-selectionne);
}
.utilisateur_profil
{
  display: flex;
  overflow: hidden;
  flex-flow: row nowrap;
  align-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
  gap: var(--padding);
}
.Liste-contenu img
{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.Liste-contenu p
{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  display: flex;
  flex: 1;
  color: var(--couleur-menu-titre);
  /* border: 1px solid #ccc; */
}
.detail{
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}
.Liste-entete
{
  position: sticky;
  top: -10px;
  background-color: #fff;
  /* border: 1px solid #ccc; */
}
.Liste-entete, .Liste-contenu
{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: var(--padding);
  border-radius: var(--border-radius);
}
.Liste-entete > div, .Liste-contenu > div{
  min-width: 75px;
  /* border: 1px solid #000000; */
  text-align: center;
  font-size: 14px;
  color: var(--couleur-menu-titre);
}
.utilisateur_nom{
  grid-area: 1/1/2/2;
}
.utilisateur_id{
  grid-area: 1/2/2/3;
}
.utilisateur_role{
  grid-area: 1/3/2/4;
}
.utilisateur_pays{
  grid-area: 1/4/2/5;
}
.utilisateur_point{
  grid-area: 1/5/2/6;
}
.utilisateur_piece{
  grid-area: 1/6/2/7;
}
