<div class="Liste-titre" >
  <div class="ListeDesUtilisateurs">Liste des utilisateurs</div>
  <div class="ligne" style="width:100%; height: 0px; border: 1px #E1E1E1 solid"></div>
</div>
<div class="Liste">
  <div class="Liste-entete" >
    <div class="utilisateur_nom">Nom</div>
    <div class="utilisateur_point">Point</div>
  </div>
  <div class="Liste-contenu">
    <div class="utilisateur_profil">
      <div class="photo">
        <img src="https://randomuser.me/api/portraits/men/60.jpg" alt="https://randomuser.me/api/portraits/men/60.jpg">
      </div>
      <div class="detail">
        <p>Ahmegggggggggggd</p>
      </div>
    </div>
    <div class="utilisateur_point">400</div>
  </div>
  <div class="Liste-contenu liste-selected">
    <div class="utilisateur_profil">
      <div class="photo">
        <img src="https://randomuser.me/api/portraits/men/60.jpg" alt="https://randomuser.me/api/portraits/men/60.jpg">
      </div>
      <div class="detail">
        <p>Ahmegggggggggggd</p>
      </div>
    </div>
    <div class="utilisateur_point">400</div>
  </div>
</div>
