.container-left {
  width: 385px;
  max-height: 100%;
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px var(--couleur-bordure-container-principaux) solid;
  background-color: var(--couleur-container-principaux);
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  overflow-y: scroll;
}
.container-right {
  display: flex;
  max-height: 100%;
  flex-flow: column;
  gap: var(--padding);
  border: 1px var(--couleur-bordure-container-principaux) solid;
  background-color: var(--couleur-container-principaux);
  border-radius: var(--border-radius);
  flex: 1;
  transition: flex 0.1s linear;
  padding: var(--padding);
  overflow-y: scroll;
}

.optionsNiveau {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  column-gap: var(--padding);
  overflow-x: scroll;
  column-gap: var(--padding);
  row-gap: var(--padding);
  border-radius: var(--border-radius);
}


.cours-options
{
  width: fit-content;
  max-width: 170px;
  padding: var(--padding);
  display: flex;
  flex-flow: row wrap;
  background-color: white;
  position: absolute;
  right: calc(var(--padding) * 3);
  column-gap: var(--padding);
  row-gap: var(--padding);
  top: 0;
  z-index: 999;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: background 0.1s linear;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;

}

.option ion-icon {
  margin-right: 10px;
}

.conteneurCours
{
  display: flex;
  flex-flow: column nowrap;
  gap: var(--padding);
  flex: 1;
  overflow-y: scroll;
}
.cours.menu
{
  overflow: visible;
}
.icon-titre:hover, .icon-titre:focus, .icon-titre.active
{
  background-color: var(--couleur-main);
}

ion-icon
{
  color: var(--couleur-gray);
}
.menu:hover ion-icon, .menu:hover p, .menu:focus ion-icon, .menu:focus p, .menu-drop:hover, .icon-titre.active ion-icon, .formation p
{
  color: var(--couleur-black);
}
ion-icon
{
  &:hover{
    color: black;
  }
  &:active{
    color: #009302;
  }
}
.menus-containers{
  display: flex;
  flex-flow: column wrap;
  gap: var(--padding);
}
.contenus .icon-titre
{
  width: 100%;
  display: flex;
  padding: var(--padding);
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--padding);
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  //border: 1px solid green;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.menu-titre
{
  overflow: hidden;
  color: var(--couleur-menu-text);
  cursor: pointer;
  flex: 1;
}

.menu-selected, .menu-selected .menu-titre
{
  color: var(--couleur-menu-titre-selectionne);
  background-color: #3de169;
}
.menu-icon, .menu-icon img
{
  width: 20px;
  height: 20px;
}
.breadcrumb-menu-icon
{
  width: 12px;
  height: 12px;
}
.menu-icon, .breadcrumb-menu-icon
{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  /*background-color: blue;*/
}

.menu
{
  display: flex;
  flex-flow: column nowrap;
  column-gap: var(--padding);
  row-gap: var(--padding);
  align-items: center;
  min-height: 40px;
  flex-shrink: 0;
  border-radius: var(--border-radius);
  text-overflow: ellipsis;
  overflow: hidden;
  //border: 1px solid green;
}

.lesson-menu
{
  display: flex;
  flex-flow: column nowrap;
  column-gap: var(--padding);
  row-gap: var(--padding);
  align-items: center;
  min-height: 40px;
  border-radius: var(--border-radius);
  text-overflow: ellipsis;
  overflow: visible;
  width: 100%;
  //border: 1px solid green;
}

.container-left .beforeDrop{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--padding);
  height: fit-content;
  text-overflow: ellipsis;
  overflow: visible;
  //border: 1px solid green;
  border-radius: var(--border-radius);
}

.breadcrumb
{
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--padding);
  width: fit-content;
  align-items: center;
}
.container-right-en-tete
{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: var(--couleur-container-principaux);
  width: 100%;
  position: sticky;
  z-index: 3;
  top: -10px;
  padding: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.breadcrumb-titre
{
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--padding);
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  //border: 1px solid green;
  justify-content: space-between;
  border-radius: var(--border-radius);
}
.breadcrumb-titre p
{
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: var(--couleur-main);
}
.breadcrumb-titre p, .breadcrumb-titre ion-icon
{
  color: var(--couleur-main);
}
.titre-element,
.titre-contenu
{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-between;
  gap: var(--padding);
}
.titre-element p, .titre-contenu p
{
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  color: var(--couleur-gray);
  flex: 1;
}
.resume-element p, .contenu p
{
  font-size: 14px;
  color: var(--couleur-gray);
  flex: 1;
}
.cours-datils
{
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--padding);
  display: flex;
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px solid var(--couleur-bordure-container-principaux);
}
.contenu-datils
{
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--padding);
  display: flex;
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px solid var(--couleur-bordure-container-principaux);
}
.fichier img
{
  width: 200px;
  height: 100px;
  border-radius: var(--border-radius);
  object-fit: cover;
}
.contenu
{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--padding);
}
.resume-element
{
  width: 100%;
}

//sideBar et autre

.contenus
{
  /*display: flex;
  flex: 1 0 0;*/
  //border: 1px solid var(--couleur-bordure-container-principaux);
  border-radius: var(--border-radius);
  //gap: calc(var(--padding) * 2);
  overflow-y: scroll;
  height: 100%;
  //justify-content: space-between;
}
.container{
  padding: var(--padding);
  width: 100%;
  height: 100vh;
  /* border: 1px solid blue; */
  display: flex;
  flex-flow: row nowrap;
  gap: var(--margin);
  border-radius: 0;
  background-color: var(--couleur-body);
  /* text-align: center; */
}

.en-tete{
  padding: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
}
.page-titre p
{
  width: 150px;
  text-align: center;
}
.page-titre
{
  border: 1px solid var(--couleur-bordure-container-principaux);
  border-radius: var(--border-radius);
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  background-color: var(--couleur-container-principaux);
}
.sideBar
{
  border: 1px solid var(--couleur-bordure-container-principaux);
  width: 202px;
  min-width: 71px;
  background-color: var(--couleur-container-principaux);
  padding: var(--padding);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  border-radius: var(--border-radius);
  align-items: center;
  overflow: scroll;
  justify-content: space-between;
  transition: width 0.3s;
}
.sideBar > div
{
  width: 100%;
}
.home p, .utilisateur p
{
  line-height: 100%;
  color: var(--couleur-gray);
}
.principal
{
  /* border: 1px solid var(--couleur-bordure-container-principaux); */
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 0;
  border-radius: var(--border-radius);
  min-width: 414px;
  //padding: var(--padding);
  gap: calc(var(--padding) * 2);
  overflow: clip;
}

.logo
{
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  gap: var(--padding);
  margin-bottom: calc(var(--padding)*2);
}

.logo img
{
  width: 60px;
  height: 60px;
}
.logo p
{
  font-size: 1.2em;
  font-weight: 900;
  color: var(--couleur-main);
}
//.menu-icon, .menu-icon img, .menu-icon svg
.menu-icon, .menu-icon svg, .menu-icon svg
{
  width: 20px;
  height: 20px;
}
.menu-icon
{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  /*background-color: blue;*/
}

.menu
{
  display: flex;
  flex-flow: column nowrap;
  column-gap: var(--padding);
  row-gap: var(--padding);
  align-items: center;
  min-height: 40px;
  flex-shrink: 0;
  border-radius: var(--border-radius);
  text-overflow: ellipsis;
  overflow: hidden;
  //border: 1px solid green;
}

.sideBar .beforeDrop{
  width: 100%;
  display: flex;
  padding: var(--padding);
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--padding);
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  //border: 1px solid green;
}
.dropdown-options {
  display: flex;
  flex-direction: column;
}
.profil-dropdown-options {
  position: absolute;
  z-index: 1000;
  top: 45px;
  background-color: var(--couleur-container-principaux);
  flex-direction: column;
  width: 100%;
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px solid var(--couleur-bordure-container-principaux);
  display: none;
}

.profil-container:hover .profil-dropdown-options, .profil-container:active .profil-dropdown-options
{
  display: flex;
}
.profil-container
{
  height: 100%;
  display: flex;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

//.option ion-icon
.option svg
{
  margin-right: 10px;
}
.sideBar .menu:hover, .sideBar .menu:focus, .formation
{
  background-color: var(--couleur-main);
}
//ion-icon
.home svg
, .utilisateur svg {
  stroke: var(--couleur-gray);
  //color: var(--couleur-gray);
  fill: var(--couleur-gray);
}

.culture svg{
  stroke: white;
  //color: var(--couleur-gray);
  fill: white;
}

.culture p
{
  color: white;
}
//.menu:hover ion-icon, .menu:hover p, .menu:focus ion-icon, .menu:focus p
.menu:hover svg, .menu:focus svg
{
  fill: var(--couleur-black);
  stroke: var(--couleur-black);
}
.menu:hover p, .menu:focus p
{
  color: var(--couleur-black);
}
.menus-containers{
  display: flex;
  flex-flow: column wrap;
  gap: var(--padding);
}
.icon-titre
{
  display: flex;
  flex-grow: 1 ;
  align-items: center;
  gap: var(--padding);
}

.contenus .icon-titre
{
  width: 100%;
  display: flex;
  padding: var(--padding);
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--padding);
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  //border: 1px solid green;
  justify-content: space-between;
  border-radius: var(--border-radius);
}

.menu-titre
{
  overflow: hidden;
  color: var(--couleur-menu-text);
}

.menu-selected, .menu-selected .menu-titre
{
  color: var(--couleur-menu-titre-selectionne);
  background-color: #3de169;
}
.deconnexion .menu-icon{
  //background-color: green;
  //transform: rotate(90deg);
}

.en-tete
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
  //border: 1px solid blue;
}


.recherche
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding);
  height: 100%;
  width: 40%;
  padding: var(--padding);
  background: var(--couleur-container-principaux);
  border-radius: var(--border-radius);
  border: 1px solid var(--couleur-bordure-container-principaux);
  min-width: 260px;
}
.recherche .icon
{
  display: flex;
  align-items: center;
  justify-content: center;
}

//.recherche .icon img
.recherche .icon svg
{
  width: 20px;
  height: 20px;
}
.searchBar
{
  outline: none !important;
  border: 1px solid transparent !important;
  width: 100% !important;
}

.recherche-barre
{
  flex: 1;
}
.profil
{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--padding);
  padding: var(--padding);
  height: 100%;
  border-radius: var(--border-radius);
  background-color: var(--couleur-container-principaux);
  border: 1px solid var(--couleur-bordure-container-principaux);
  flex: 0 0 auto;
}

.profil > div
{
  display: flex;
  align-items: center;
  height: 100%;
}

.profil .photo img
{
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.photo
{
  display: flex;
  align-items: center;
  width: 30px;
  flex: 0 0 auto;
}

.arrow-down-filled-triangle img
{
  width: 10px;
  height: 7px;
}

@media screen and (max-width: 1109px) {
  .sideBar p, .sideBar .chevron, .sideBar .menu-titre, .beforeDrop > .menu-icon
  {
    display: none;
  };

  .sideBar
  {
    width: 71px;
    transition: width 0.3s;
  }
  .sideBar .menu
  {
    width: 100%;
  }
  .beforeDrop
  {
    display: flex;
    gap: 0;
    align-content: center;
    flex-flow: column nowrap;
  }
}

.ajout
{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1000;
}
.ajout-container
{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 100%;
  height: 100%;
}

.shadows
{
  background-color: rgba(136, 136, 136, 0.71);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.lesson-dropdown
{
  background: red;
}


//formulaire ajout des langues
.formulaire
{
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  z-index: 1001;
}

.forms-container
{
  top: 50%;
  left: 50%;
  width: 30%;
  height: fit-content;
  max-width: 400px;
  max-height: 300px;
  min-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  padding: var(--padding);
  border: 1px solid var(--couleur-bordure-container-principaux);
  background-color: var(--couleur-container-principaux);
  border-radius: var(--border-radius);
  row-gap: calc(var(--padding) / 2);
  transform: translate(-50%, -50%);
}
.addLangue
{
  width: 100%;
  margin-bottom: var(--margin);
  & .titre-addLangue {
    width: 100%;
    text-align: center;
  }
}
.forms-add
{
  top: 50%;
  left: 50%;
  position: absolute;
  padding: var(--padding);
  border-radius: var(--border-radius);
  transform: translate(-50%, -50%);
}
.field
{
  display: flex;
  background-color: var(--couleur-gray-light);
  flex-flow: row nowrap;
  padding: calc(var(--padding) / 2) var(--padding);
  align-items: center;
  border-radius: var(--border-radius);
  width: 100%;
  border: 1px solid var(--couleur-bordure-container-principaux);
}

.forms-c02
{
  width: 100%;
  display: flex;
  //flex: 1;
  flex-flow: column nowrap;
  align-items: start;
}

.forms-c02 p
{
  text-align: left;
}

.btn-c01
{
  display: flex;
  width: 100%;
  column-gap: var(--padding);
}

.text-i01
{
  outline: none;
  background-color: var(--couleur-gray-light);
  width: 100%;
}

.id-01
{
  outline: none;
  background-color: var(--couleur-gray-light);
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  height: 100px;
}

.shadows1
{
  background-color: rgba(136, 136, 136, 0.61);
  //backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}


//custom buttom
.custom-button {
  padding: var(--padding);
  box-sizing: border-box;
  border: none;
  border-radius: var(--border-radius);
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  //border: 1px solid var(--couleur-bordure-container-principaux);
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  height: 40px;
  width: fit-content;

  &.primary {
    background-color: var(--couleur-main);
    color: white;
  }

  &.secondary {
    background-color: #6c757d;
    color: white;
  }

  &.danger {
    background-color: #dc3545;
    color: white;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  &:hover{
    background-color: var(--couleur-secondaire)
  }
  &:active{
    background-color: #009302;
  }
}


//Styles pour ajouter conenus
.fermer_container {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.fermer
{
  width: 40px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid var(--couleur-bordure-container-principaux);
  background-color: var(--couleur-close-menu);
}

.fermer svg
{
  fill: var(--couleur-close-menu);
  //stroke: var(--couleur-close-menu);
  &:active{
    fill: var(--couleur-close-menu-active);
    //stroke: var(--couleur-close-menu-active);
  }
}
