<main class="principal">
  <div class="contenus">
    <div class="contenus-container">
      <div class="forms-c01">
        <div class="forms-c031">
          @for (elment of contenu; track $index){
            <div class="forms-c04">
              <p style="color: black; font-weight: bold" class="titre-c1">Sous-titre</p>
              <div class="field">
                <input type="text" name="text" id="{{$index}}" class="text-i01" placeholder="Titre" [(ngModel)]="elment.titre">
                <!--<div class="menu-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><polyline points="112 184 256 328 400 184" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
                </div>
                -->
              </div>
            </div>
            <div class="forms-c04">
              <p style="color: black; font-weight: 600" class="titre-c1">Description</p>
              <div class="field">
                <textarea name="description" id="{{$index}}" class="id-01" placeholder="Description" [(ngModel)]="elment.description"></textarea>
                <!--<div class="menu-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512"><polyline points="112 184 256 328 400 184" style="fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px"/></svg>
                </div>
                -->
              </div>
            </div>
            <app-files style="width: 100%"></app-files>
            <div class="divider"></div>
          }
        </div>
        <div class="btn-c01">
          <app-button
            label= "Ajouter"
            color="primary"
            icon="trash"
            type="button"
            [disabled] = false
            largeur="flex: 1"
            (click)="Ajouter()"
            [routerLink]="['/formation/langue']"
          >
          </app-button>
        </div>
      </div>
    </div>
  </div>
</main>
