<div class="upload-container" [ngClass]="{'dragging': isDragging}"
     (dragover)="onDragOver($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onFileDrop($event)">
  <input type="file" id="fileInput" multiple accept="image/*,audio/*,video/*" (change)="onFilesSelected($event)" hidden>
  <div class="drag-area" (click)="triggerFileInput()">
    <svg width="64" height="48" viewBox="0 0 64 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M51.944 18.912C51.3787 8.376 42.6827 0 32 0C21.32 0 12.6213 8.376 12.056 18.912C5.20267 20.1467 0 26.128 0 33.3333C0 41.432 6.568 48 14.6667 48H49.3333C57.432 48 64 41.432 64 33.3333C64 26.128 58.7973 20.1467 51.944 18.912V18.912ZM32 16L42.6667 26.6667H34.6667V37.3333H29.3333V26.6667H21.3333L32 16Z" fill="#5ADA60"/>
    </svg>
    <p>Déposez vos fichiers ici ou cliquez pour les sélectionner</p>
  </div>
  <div class="preview">
    <!-- Prévisualisation des fichiers -->
    @for (file of files; track $index)
    {
      <div (click)="removeFile(file)">
        <!--{{file.type}}-->
        @if (isImage(file)){
          <img [src]="file.src" alt="Image Preview" />
        }
        @if (isAudio(file)){
          <audio controls>
            <source [src]="file.src" type="file.type">
          </audio>
        }
        @if (isVideo(file)){
          <video controls width="200">
            <source [src]="file.src" type="file.type">
          </video>
        }
      </div>
    }
  </div>
</div>
