/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --padding: 10px;
  --margin: 10px;
  --border-radius: 10px;
  --couleur-body: #E7FFEE;
/*  --couleur-main: #45A100;*/
  --couleur-main: #45A100;
  --couleur-secondaire: #5ADA60;
  --couleur-gray: #6F757E;
  --couleur-titre: #4b4b4b;
  --couleur-gray-light: #caccce;
  --couleur-menu-titre: #6F757E;
  --couleur-menu-titre-selectionne: #000000;
  --couleur-close-menu: #c5213e;
  --couleur-close-menu-active: #c74058;
  --couleur-container-principaux: #fff;
  --couleur-bordure-container-principaux: #6F757E;
}

*{
  //font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  position: relative;
}

body
{
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  background-color: var(--couleur-body);
  //color: var(--couleur-gray)
}
::-webkit-scrollbar{
  display: none;
}

.contenus-container{
  display: flex;
  flex-flow: row wrap;
  gap: calc(var(--padding) * 2);
  height: 100%;
  width: 100%;
}

.menu-titre
{
  cursor: pointer;
}

ion-icon, svg
{
  &:hover{
    color: black;
    fill: black;
    stroke: black;
  }
  &:active{
    stroke: #009302;
    color: #009302;
    fill: #009302;
  }
}

.text-i01 {
  outline: none;
  background-color: var(--couleur-gray-light);
  width: 100%;
  border: none;
}

.id-01[_ngcontent-ng-c2555617743] {
  outline: none;
  background-color: var(--couleur-gray-light);
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  height: 100px;
  border: none;
}

.menu:hover ion-icon, .menu:hover p, .menu:active ion-icon, .menu:active p, .menu-drop:hover, .icon-titre.active ion-icon, svg
{
  color: var(--couleur-black);
}

.divider
{
  width: 100%;
  height: 2px;
  background-color: var(--couleur-gray-light);
  border-color: #fff;
}
.vertical-divider
{
  width: 2px;
  height: 100%;
  background-color: var(--couleur-gray-light);
  border-color: #fff;
}

.active
{
  background-color: var(--couleur-main);
}

.active p
{
  color: black;
}

.logo p
{
  font-family: "Fredoka", cursive;
}

button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
  -webkit-appearance: button;
  background-color: gray;
  background-image: none;
}

/* Chrome, Safari, Edge */
input:-webkit-autofill {
  background-color: var(--couleur-gray) !important; /* Arrière-plan gris */
  color: #000; /* Couleur du texte si nécessaire */
}

/*
!* Firefox *!
input:-moz-autofill {
  background-color: var(--couleur-gray) !important; !* Arrière-plan gris *!
  color: #000;
}

!* Internet Explorer (Legacy) *!
input:-ms-autofill {
  background-color: var(--couleur-gray) !important;
  color: #000;
}
*/
